.banner {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/adelcloud/image/upload/v1562931499/banner_cocktail.jpg');
}
